
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    line-height: 1.6;
    margin: 0;
    background-color: #e5e8ec;
}



header{
    background-color: rgb(50, 146, 50);
    color: white;
    text-align: center;
    padding: 10px; 
}

header p{
    margin-bottom:20px ;
}

.navi{
    background-color: rgba(84, 185, 129, 0.233);
    color: #fdfdfda1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px; 
}

.navi a{
    color: black;
    text-decoration: none;
    padding: 15px;
    font-weight: 400;
    margin: 10px;
    font-size:1.1rem;
    letter-spacing: 0.5px;
    
}

.navi a:hover{
    color: rgb(28, 92, 47);
    text-decoration: underline;
}

.about{
    width: 80%;
    padding:25px ;
    margin: 20px  auto;
    border: 2px solid ;
    border-radius:10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease;
}

.about:hover{
    background-color: #43a754;
    color: white;

}
.about h2{
    color: rgb(36, 119, 87);
}


.event{
    width:80%;
    padding:25px;
    margin:20px auto;
    border: 2px solid;
    border-radius:10px;
    box-shadow: 0 10px 10px rgba(0,0,0,1);
}

.event h2{
    color: rgb(36, 119, 87);
}

.event:hover{
    background-color: #43a754;
    
}


table{
    width:100%;
    border-collapse:collapse;
    margin-top: 15px;
}


table th , 
table td{
    border: 2px solid black;
}

table th{
    background-color: #f1f1f1;
    font-weight: 600;
    color:#333;
}

table tr:nth-child(even){
    background-color: #f9f9f9;
}


.Speakers{
    width: 80% ;
    border: 2px solid black;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
}

.Speakers h2{
    color: rgb(36, 119, 87);
}

.Speakers:hover{
    background-color: #43a754;
    color: white;
}


.contact_us{
    width: 80%;
    border: 2px solid black;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow:0 10px 10px rgba(0,0,0,1);
}

.contact_us h2{
    color: rgb(36, 119, 87);
}

.contact_us:hover{
    background-color: #43a754;
}


form label{
    display: block;
    margin-bottom:8px;
    font-weight:600;
}

form input,
form textarea{
    width:95%;
    padding: 14px;
    margin-bottom:18px;
}

form input:focus,
form textarea:focus {
    border-color: #007bff;
    outline: none;
}
form button {
    background-color: #007bff;
    color: white;
    width: 100%;
    padding:10px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #0056b3;
}
form button:active {
    background-color: #004085;
}