*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Georgia','serif';
    background: linear-gradient(to top, #15357B, #D9D9D9);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.85); /* semi-transparent dark */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #b8c6db;
}


.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 25px;
  min-height: 100vh;
  background: transparent;
  
}


.about-box {
  max-width: 700px;
  padding: 40px;
  background: linear-gradient(to top, #15357B, #D9D9D9);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}


.about-text {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 30px;
}


.about-quote {
  font-size: 16px;
  color: #1a1a1a;
  font-style: italic;
}