

body{
    display: grid;
    place-items: center;
    min-height:10px;
    background-color: #447d9777;
}



form{
    width: 80%;
    height:100%;
    padding:20px;
    border: 3px solid #fdfcfc ;
    border-radius: 3%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    text-align: center;
    background-color:#8fb7bd;
}

.form-control{
    text-align: left;
    margin-bottom: 25px;
}

.form-control label{
    display: block;
    margin-bottom:10px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border:1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding:10px;
    display: block;
    width:95%;    
}

.form-control input[type = 'radio'],
.form-control input[type = 'checkbox']{
    display: inline-block;
    width:auto;
}

button{
    background-color: #05c46b;
    width: 90%;
    padding:20px;
    text-align: center;
    font-size:large;
    border-radius:3px;
    margin-top: 10%;
    
}